<!DOCTYPE html>
<html lang="en">
<head>
	<title> FEATURED APARTMENT MANAGEMENT</title>
	<meta charset="UTF-8">
	<meta name="description" content="LERAMIZ Landing Page Template">
	<meta name="keywords" content="LERAMIZ, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="/assets/img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/assets/css/animate.css"/>
	<link rel="stylesheet" href="/assets/css/owl.carousel.css"/>
	<link rel="stylesheet" href="/assets/css/style.css"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body style="background:url(/assets/img/service-bg.jpg) repeat">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 header-top-left">
						<div class="top-info">
							<i class="fa fa-phone"></i>
							(+11) 233 2444
						</div>
						<div class="top-info">
							<i class="fa fa-envelope"></i>
							AMG Management System
						</div>
					</div>
					<div class="col-lg-6 text-lg-right header-top-right">
						<div class="top-social">
							<a href="https:www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
							<a href="https:www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
							<a href="https:www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
							
						</div>
						<div class="user-panel">
						
							<a href="/login"><i class="fa fa-sign-in"></i> Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container ">
			<div class="row justify-content-center">
				<div class="col-12-sm">
					<div class="mt-1-sm ">
						<a href="/" ><img src="/assets/img/logo2.png" style="width:100px; height:auto" alt="logo"></a>
						<div class="nav-switch">
							<i class="fa fa-bars"></i>
						</div>
					
						<ul class="main-menu"style="font-style:bold;font-family: fantasy">
							<li><a href="/">Home</a></li>
							<li><a href="/feature">FEATURED LISTING</a></li>
							<li><a href="/about">ABOUT US</a></li>
							<li><a href="/page">PAGE</a></li>
							<li><a href="/blog">BLOG</a></li>
							<li><a href="/contact">CONTACT</a></li>
						</ul>
				
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
	
		<div class="container hero-text2 text-white">
			<h2>FEATURED LISTING</h2>
		
		</div>
		<div class="container">
		<div class="row">
				<div class="col-sm-6 mt-4" ><h3 style="color: aqua;font-family:Arial, Helvetica, sans-serif">Features:
				</h3>
				<ul style="color: beige;font-family: cursive">
					<li>Complete apartment management solution </li>
					<li>Admin, Resident members, Gatekeeper and Accountant Users </li>
					<li>Manage residential units, owner and tenant data </li>
					<li>Multiple blocks and units with document management system </li>
					<li>Manage monthly maintenance for all units </li>
					<li>Generate certificates and manage grades</li>
					<li>Manage Events, General facilities and Bookings</li>
					<li>Gatekeeper can log visitor details</li>
				</ul>
				</div>
			
	<div class="col-sm-6 mt-4" ><h3 style="color: aqua;font-family:Arial, Helvetica, sans-serif">Dashboard:</h3>
				<ul style="color: beige;font-family: cursive">
						<li>Complete apartment management solutions</li>
						<li>Dashboard with key statics Info-Graphics </li>
						<li>Calendar, Events and Notices all in one screen</li>
						</ul>
					
					</div>
					
			</div><br>
<div class="d-flex justify-content-center font-weight-bold"><p style="color:aqua;font-size:30px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">List of Modules</p></div>
			<div class="row">
					<div class="col-sm-4"> <h3 style="color:khaki;font-family:Arial, Helvetica, sans-serif">Member Management:</h3>
						<ul style="color: beige;font-family: cursive">
								<li>Link members to residential units</li>
								<li>System allow owner and tenant to units </li>
								<li>Manage owner and tenant family members</li>
							</ul>
							</div>
					<div class="col-sm-4" ><h3 style="color: khaki;font-family:Arial, Helvetica, sans-serif">Member View:</h3>
						<ul style="color: beige;font-family: cursive">
								<li>Helps admin get overview of members</li>
								<li>Member family list </li>
								<li>All other details of member</li>
							</ul>

					</div>
					<div class="col-sm-4"><h3 style="color: khaki;font-family:Arial, Helvetica, sans-serif">Vistor Management:</h3>
						<ul style="color: beige;font-family: cursive">
								<li>Manage visitor details</li>
								<li>Record visitor key details like name and mobile </li>
								<li>Manage time in – out for all visitor</li>
							</ul>

					</div>
				  </div>
				  
				 <br><br>
				  
				  


				  <div class="row">
						<div class="col-sm-4"> <h3 style="color: khaki;font-family:Arial, Helvetica, sans-serif">Event-Notice:</h3>
							<ul style="color: beige;font-family: cursive">
									<li> Manage important announcements – notices</li>
									<li>Manage events, activities and festivals </li>
									<li>Collect payments for events and keep log of it</li>
								</ul>
								</div>
						<div class="col-sm-4" ><h3 style="color: khaki;font-family:Arial, Helvetica, sans-serif">Complain Management:</h3>
							<ul style="color: beige;font-family: cursive">
									<li>Member can raise complain from system</li>
									<li>Manage complain details </li>
									<li>Manage complain status</li>
								</ul>
	
								
								
								</div>
						<div class="col-sm-4"><h3 style="color: khaki;font-family:Arial, Helvetica, sans-serif">Document Management:</h3>
							<ul style="color: beige;font-family: cursive">
									<li>Manage document for each residential unit</li>
									<li>Document history for each unit </li>
									<li>Upload doc, pdf and zip files</li>
								</ul>
	
						</div>
					  </div>

		</div>

	<!-- Hero section end -->
	
	
	
	
	
	



	

	<!-- Filter form section -->
	
		
	<!-- Footer section end -->
                                        
	<!--====== Javascripts & Jquery ======-->
	<script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/masonry.pkgd.min.js"></script>
	<script src="/assets/js/magnific-popup.min.js"></script>
	<script src="/assets/js/main.js"></script>
</body>
</html>

